@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-950 text-slate-50 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    -system-ui, sans-serif;
}
